body
{
    background-image: url('poker_card.svg');
    background-size: 10% 10%;
    background-attachment: fixed;
}

#inline img
{
    margin: 10px;
    display: inline;
}

#block img
{
    margin: 10px;
    display: block;
}